body {
  font-family: Arial;
  padding: 20px;
  background: #f7f7f7;
}

input, button {
  padding: 8px;
  margin: 5px;
}

button {
  background: #0077b6;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #023e8a;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background: white;
}

th, td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

th {
  background: #0077b6;
  color: white;
}

tr:nth-child(even) {
  background: #f2f2f2;
}

#pagination {
  margin-top: 15px;
  text-align: center;
}